@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Spline Sans", sans-serif;
    background-color: #101622;
    /* Defaulting to dark bg to match potential dark mode preference or just standardizing */
}

/* Custom Scrollbar from Template */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #232f48;
    border-radius: 10px;
}